<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>user</title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getLastName()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<a th:href="@{/users/{id}/update(id=${user.getId()})}">Update this user</a>

</body>
</html>
